
<li class="suggestions__item">
    <div class="suggestions__item-image m-auto">
        <img [src]="product.image" alt="" #imageElement [hidden]="!isImgLoaded" (load)="isImgLoaded = true">
        <img *ngIf="!isImgLoaded" src="assets/images/products/default-image.gif">
    </div>
    <div class="suggestions__item-info pr-1">
        <a class="suggestions__item-name" [href]="root.product(product)" appClick>{{product.name}}</a>
        <div class="suggestions__item-meta">Minimum Orders: {{product.minimum_orders}}</div>
        <div class="suggestions__item-price m-0 pl-0">BDT: {{product.start_price}} - {{product.end_price}}</div>
    </div>
    <!-- <div class="suggestions__item-actions">
        <button type="button" appClick (click)="showQuickview(product.slug)"
            class="btn btn-primary btn-sm btn-svg-icon "
            [ngClass]="{'product-card__quickview--preload': showingQuickview}">
            <app-icon *ngIf="!showingQuickview" name="quickview-16" size="16"></app-icon>
            <span class="fake-svg-icon"></span>
        </button>
    </div> -->
</li>
 