<app-block-map></app-block-map>

<div class="block">
    <div class="container">
        <div class="card mb-0">
            <div class="card-body contact-us">
                <div class="contact-us__container">
                    <div class="row">
                        <div class="col-12 col-lg-12 pb-4 pb-lg-0 text-center">
                            <h4 class="contact-us__header card-title">Our Address</h4>

                            <div class="contact-us__address">
                                <p>
                                    {{address}}<br>
                                    Email: {{email}}<br>
                                    Phone Number: {{phone}}
                                </p>

                               
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
