<ng-template #modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left my-auto"><img [src]="images[0].url" class="product-modal-image"></h4>
        <div class="modal-header-text my-auto">
            <h6 class="modal-title ml-2">{{product.name}}</h6>
            <span class="modal-subtitle ml-2">
                <ng-container *ngIf="product.start_price">
                    BDT {{ product.start_price }} - {{ product.end_price }}
                </ng-container>
                <ng-container *ngIf="!product.compareAtPrice && !product.start_price">
                    {{ product.price|currencyFormat }}
                </ng-container>
            </span>
            <div class="ml-2" *ngIf="product.minimum_orders">
                <span class="product-card__minimum-orders">Minimum Orders: {{product.minimum_orders}}</span>
            </div>
            <div class="ml-2" *ngIf="!product.minimum_orders">
                <span class="product-card__minimum-orders">Minimum Orders: 50 pcs</span>
            </div>

        </div>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <app-icon name="cross-20" size="20"></app-icon>
        </button>
    </div>
    <div class="modal-body p-4">
        <h6 class="modal-title ml-2 text-center">Send Your Query Below</h6>
        <form #queryForm="ngForm" (ngSubmit)="queryForm.form.valid && onSubmit(queryForm)" autocomplete="off">
            <div class="form-group">
                <label>Name<span class="text-danger"> *</span></label>
                <input type="text" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel"
                    [ngClass]="{ 'is-invalid': queryForm.submitted && name.invalid }" required autocapitalize>
                <div class="invalid-feedback" *ngIf="queryForm.submitted && name.invalid">
                    <p *ngIf="name.errors.required">Name is required</p>
                </div>
            </div>

            <div class="form-group">
                <label>Phone or Email<span class="text-danger"> *</span></label>
                <input type="text" class="form-control" name="phoneOrEmail" [(ngModel)]="model.phoneOrEmail"
                    #phoneOrEmail="ngModel" [ngClass]="{ 'is-invalid': queryForm.submitted && phoneOrEmail.invalid }"
                    pattern="^(?:\+?88|0088)?01[13-9]\d{8}|\w+@\w+\.\w{2,3}$" phoneOrEmail required>
                <div *ngIf="queryForm.submitted && phoneOrEmail.invalid" class="invalid-feedback">
                    <div *ngIf="phoneOrEmail.errors.required">Phone or Email is required</div>
                    <div *ngIf="phoneOrEmail.errors.pattern">Phone or Email is invalid</div>
                </div>
            </div>
            <div class="form-group">
                <label>Query<span class="text-danger"> *</span></label>
                <textarea name="" class="form-control" name="query" id="" [(ngModel)]="model.query" #query="ngModel"
                    [ngClass]="{ 'is-invalid': queryForm.submitted && query.invalid }" query required></textarea>
                <div *ngIf="queryForm.submitted && query.invalid" class="invalid-feedback">
                    <div *ngIf="query.errors.required">Query is required</div>
                </div>
            </div>


            <div class="form-group">
                <button class="btn btn-primary btn-block" [ngClass]="{'btn-loading': storingQuery}"  >Submit Query</button>
            </div>
        </form>
    </div>
</ng-template>

