<!-- .block-features -->
<div class="block block-features block-features--layout--{{ layout }}">
    <div class="container">
        <div class="block-features__list">
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="factory-price-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">Factory Prices</div> 
                    <div class="block-features__subtitle">Lowest wholesale rates</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="import-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">Import Service</div>
                    <div class="block-features__subtitle">Door-to-door from China</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="import-china-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">Product Sourcing</div>
                    <div class="block-features__subtitle">Sourcing From China</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <app-icon name="resell-48" size="48"></app-icon>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">Reseller Program</div>
                    <div class="block-features__subtitle">Earn by Reselling</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-features / end -->
