/*
// .block-products-carousel
*/
@import '../variables';
@import '../functions';
@import '../mixins/product-card';
@import '../mixins/preloader';


.block-products-carousel {
    .owl-stage {
        padding-bottom: 56px;
        display: flex;
    }
    .owl-stage-outer {
        margin-bottom: -56px;
    }
    .owl-item {
        flex-shrink: 0;
        display: flex;
    }
}
.block-products-carousel__slider {
    position: relative;
    min-height: 200px;
}
.block-products-carousel__preloader {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $block-products-carousel-preloader-bg;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility 0s .3s;

    &:after {
        @include preloader(100px);
    }
}
.block-products-carousel--loading .block-products-carousel__preloader {
    transition-delay: 0s, 0s;
    opacity: 1;
    visibility: visible;
}
.block-products-carousel__column {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.block-products-carousel__cell {
    & + & {
        margin-top: 14px;
    }

    &,
    app-product-card {
        display: flex;
        width: 100%;
        flex-basis: 100%;
        flex-grow: 1;
    }

    .product-card {
        width: 100%;
    }
}
.block-products-carousel--has-items {
    .block-products-carousel__preloader {
        bottom: 56px;
    }
}


.block-products-carousel[data-layout^="grid-"] {
    .product-card {
        @include product-card-grid();
    }
}
.block-products-carousel[data-layout="grid-4"] {
    .product-card {
        @include product-card-grid-nl();
    }

    @media (min-width: breakpoint(md-start)) and (max-width: breakpoint(lg-end)) {
        .product-card {
            @include product-card-grid-sm();
        }
    }

    @media (max-width: breakpoint(xs-end)) {
        .product-card {
            @include product-card-grid-sm();
        }
    }
}
.block-products-carousel[data-layout="grid-4-sm"] {
    .product-card {
        @include product-card-grid-sm();
    }
}
.block-products-carousel[data-layout="grid-5"] {
    .product-card {
        @include product-card-grid-sm();
    }

    @media(max-width: 479px){
          .product-card__name{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        position: relative;
    }

    .product__tags{
        display: none;
    }

    .product-card__prices{
        margin-top: 5px;
        font-size: small;
    }

    .product-card__minimum-orders {
        font-size: 10px;
    }

    .product-card__buttons {
        display: -webkit-box;
        margin-top: 10px;
    }
    .product-card__views{
        font-size: 10px;
        margin: auto !important;
    }

    .product-card__buttons .btn {
        height: 24px !important;
        line-height: 1 !important;
        padding: 0 0.5rem !important;
        margin: auto !important;
    }

    .product-card__actions {
        padding: 0 10px 10px !important;
    }
    .product-card__info{
        padding: 0 10px 0 !important;
    }
    .product-card__image {
        padding: 10px 10px 10px !important;
    }

    .product-card__badge {
        font-size: 10px !important;
        padding: 3px 4px 2px !important;
    }
        
          
        }
    }



.block-products-carousel[data-layout="horizontal"] {
    .product-card {
        @include product-card-horizontal();
    }
}


