.not-found.item{
    overflow: hidden;
}
@media (min-width: 768px) and (max-width: 991px) {
    .mbl-header__search {
        flex-grow: 1;
        height: 36px
    }

    html[dir=ltr] .mbl-header__search {
        margin-right: 8px
    }

    html[dir=rtl] .mbl-header__search {
        margin-left: 8px
    }
}

@media (max-width: 767px) {
    .mbl-header__search {
        top: 0;
        width: 100%;
        position: absolute;
        background: #fff;
        box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
        z-index: 1;
        -webkit-transform: translateY(-54px);
        transform: translateY(-54px);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s .3s, opacity .3s, -webkit-transform .3s ease-in-out;
        transition: visibility 0s .3s, opacity .3s, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility 0s .3s, opacity .3s;
        transition: transform .3s ease-in-out, visibility 0s .3s, opacity .3s, -webkit-transform .3s ease-in-out;
        display: flex;
        pointer-events: none
    }

    html[dir=ltr] .mbl-header__search {
        left: 0
    }

    html[dir=rtl] .mbl-header__search {
        right: 0
    }

    .mbl-header__search--open {
        pointer-events: auto;
        -webkit-transition-delay: 0s, 0s;
        transition-delay: 0s, 0s;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        visibility: visible;
        opacity: 1
    }
}

.mbl-links {
    list-style: none;
    padding: 0;
    margin: 0
}

.mbl-links__item {
    border-bottom: 1px solid #ebebeb
}

.mbl-links__item-title {
    display: flex;
    align-items: stretch;
    cursor: pointer
}

.mbl-links__item-link {
    flex-grow: 1;
    color: #3d464d;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent
}

html[dir=ltr] .mbl-links__item-link {
    text-align: left
}

html[dir=rtl] .mbl-links__item-link {
    text-align: right
}

.mbl-links__item-link:focus {
    outline: none
}

.mbl-links__item-link,
.mbl-links__item-link:hover {
    color: inherit
}

.mbl-links__item-toggle {
    border: none;
    background: transparent;
    padding: 0;
    width: 55px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: inherit;
    fill: #999;
    -webkit-transition: fill .2s;
    transition: fill .2s
}

html[dir=ltr] .mbl-links__item-toggle {
    border-left: 1px solid #ebebeb
}

html[dir=rtl] .mbl-links__item-toggle {
    border-right: 1px solid #ebebeb
}

.mbl-links__item-toggle:focus {
    outline: none
}

.mbl-links__item-toggle:focus,
.mbl-links__item-toggle:hover {
    cursor: inherit
}

.mbl-links__item-arrow {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.mbl-links__item-sub-links {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: height .3s, opacity .3s, visibility 0s .3s;
    transition: height .3s, opacity .3s, visibility 0s .3s
}

.mbl-links__item--open>.mbl-links__item-sub-links {
    visibility: visible;
    height: auto;
    opacity: 1;
    -webkit-transition-delay: 0s, 0s, 0s;
    transition-delay: 0s, 0s, 0s
}

.mbl-links__item--open>.mbl-links__item-title .mbl-links__item-arrow {
    -webkit-transform: rotateZ(180deg) translateY(1px);
    transform: rotateZ(180deg) translateY(1px)
}

.mbl-links--level--0>li>.mbl-links__item {
    border-bottom: 1px solid #ebebeb
}

.mbl-links--level--0>li>.mbl-links__item>.mbl-links__item-title {
    height: 48px
}

.mbl-links--level--0>li>.mbl-links__item>.mbl-links__item-title .mbl-links__item-link {
    padding: 12px 20px
}

.mbl-links:not(.mbl-links--level--0) {
    border-top: 1px solid #ebebeb
}

.mbl-links--level--1 {
    background: #f7f7f7;
    font-size: 14px;
    line-height: 14px
}

.mbl-links--level--1 .mbl-links__item .mbl-links__item-link {
    padding: 13px 20px
}

.mbl-links--level--1 .mbl-links {
    background: #fff
}

html[dir=ltr] .mbl-links--level--1 .mbl-links {
    padding-left: 20px
}

html[dir=rtl] .mbl-links--level--1 .mbl-links {
    padding-right: 20px
}

.mbl-links--level--1 .mbl-links>li {
    background: #f7f7f7
}

html[dir=ltr] .mbl-links--level--1 .mbl-links>li {
    border-left: 1px solid #ebebeb
}

html[dir=rtl] .mbl-links--level--1 .mbl-links>li {
    border-right: 1px solid #ebebeb
}

.mbl-links--level--1 li:last-child>.mbl-links__item {
    border-bottom: none
}

.mblmenu {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    -webkit-transition: visibility 0s .3s;
    transition: visibility 0s .3s
}

html[dir=ltr] .mblmenu {
    left: 0
}

html[dir=rtl] .mblmenu {
    right: 0
}

.mblmenu__backdrop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3d464d;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

html[dir=ltr] .mblmenu__backdrop {
    left: 0
}

html[dir=rtl] .mblmenu__backdrop {
    right: 0
}

.mblmenu__body {
    position: absolute;
    top: 0;
    width: 290px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    display: flex;
    flex-direction: column
}

html[dir=ltr] .mblmenu__body {
    left: 0;
    -webkit-transform: translateX(calc(-100% * 1 - 30px * 1));
    transform: translateX(calc(-100% * 1 - 30px * 1))
}

html[dir=rtl] .mblmenu__body {
    right: 0;
    -webkit-transform: translateX(calc(-100% * -1 - 30px * -1));
    transform: translateX(calc(-100% * -1 - 30px * -1))
}

.mblmenu__header {
    height: 55px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    border-bottom: 1px solid #ebebeb
}

.mblmenu__title {
    padding: 0 20px;
    font-weight: 700;
    flex-grow: 1
}

.mblmenu__close {
    border: none;
    background: transparent;
    height: 54px;
    width: 55px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: #999;
    -webkit-transition: fill .2s;
    transition: fill .2s
}

html[dir=ltr] .mblmenu__close {
    border-left: 1px solid #ebebeb
}

html[dir=rtl] .mblmenu__close {
    border-right: 1px solid #ebebeb
}

.mblmenu__close:focus {
    outline: none
}

.mblmenu__close:focus,
.mblmenu__close:hover {
    fill: #3d464d
}

.mblmenu__content {
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.mblmenu--open {
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.mblmenu--open .mblmenu__backdrop {
    opacity: .9
}

html[dir=ltr] .mblmenu--open .mblmenu__body {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

html[dir=rtl] .mblmenu--open .mblmenu__body {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.nav-links {
    height: 100%
}

.nav-links__list {
    height: inherit;
    z-index: 10;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0
}

.nav-links__item {
    height: 100%
}

.nav-links__item>a {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 15px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    color: inherit
}

.nav-links__item>a span {
    background: rgba(0, 0, 0, 0);
    box-shadow: none
}

.nav-links__item>a svg {
    fill: rgba(0, 0, 0, 0.25)
}

.nav-links__item>a>span {
    display: flex;
    align-items: center;
    background: transparent;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    padding: 0 14px;
    height: 42px;
    border-radius: 2px
}

.nav-links__item:hover>a {
    color: inherit
}

.nav-links__item:hover>a span {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: none
}

.nav-links__item:hover>a svg {
    fill: rgba(0, 0, 0, 0.25)
}

.nav-links__item:hover>a>span {
    -webkit-transition-duration: .1s;
    transition-duration: .1s
}

.nav-links__item:hover .nav-links__menu,
.nav-links__item:hover .nav-links__megamenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.nav-links__item--menu {
    position: relative
}

.nav-links__item--with-submenu>a span {
    position: relative
}

html[dir=ltr] .nav-links__item--with-submenu>a span {
    padding-right: 27px
}

html[dir=rtl] .nav-links__item--with-submenu>a span {
    padding-left: 27px
}

.nav-links__item--with-submenu>a svg {
    top: calc(50% - 3px);
    position: absolute
}

html[dir=ltr] .nav-links__item--with-submenu>a svg {
    right: 12px
}

html[dir=rtl] .nav-links__item--with-submenu>a svg {
    left: 12px
}

.nav-links__menu,
.nav-links__megamenu {
    top: 100%;
    position: absolute;
    visibility: hidden;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(45deg);
    transform: rotateX(45deg);
    opacity: 0;
    -webkit-transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, -webkit-transform .2s;
    transition: transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s, -webkit-transform .2s
}

html[dir=ltr] .nav-links__megamenu {
    left: 0
}

html[dir=rtl] .nav-links__megamenu {
    right: 0
}

.nav-links__megamenu--size--xs {
    width: 16.66667%
}

.nav-links__megamenu--size--sm {
    width: 33.33333%
}

.nav-links__megamenu--size--nl {
    width: 50%
}

.nav-links__megamenu--size--md {
    width: 66.66667%
}

.nav-links__megamenu--size--lg {
    width: 83.33333%
}

.nav-links__megamenu--size--xl {
    width: 100%
}

@media (min-width: 992px) and (max-width: 1199px) {
    .nav-links__item>a>span {
        padding: 0 10px
    }

    html[dir=ltr] .nav-links__item--with-submenu>a>span {
        padding-right: 23px
    }

    html[dir=rtl] .nav-links__item--with-submenu>a>span {
        padding-left: 23px
    }

    html[dir=ltr] .nav-links__item--with-submenu>a svg {
        right: 8px
    }

    html[dir=rtl] .nav-links__item--with-submenu>a svg {
        left: 8px
    }
}







.search--location--header .search__body {
    position: relative;
    z-index: 2
}

.search--location--header .search__form {
    height: 42px;
    display: flex
}

.search--location--header .search__border {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    -webkit-transition: box-shadow .15s, background .15s;
    transition: box-shadow .15s, background .15s
}

.search--location--header .search__input {
    border: none;
    padding: 0 17px;
    background: transparent;
    width: 1px;
    flex-grow: 1;
    font-size: 15px;
    -webkit-transition: color .15s;
    transition: color .15s;
    color: inherit
}

.search--location--header .search__input::-webkit-input-placeholder {
    color: #999
}

.search--location--header .search__input::-moz-placeholder {
    color: #999
}

.search--location--header .search__input:-ms-input-placeholder {
    color: #999
}

.search--location--header .search__input::-ms-input-placeholder {
    color: #999
}

.search--location--header .search__input::placeholder {
    color: #999
}

.search--location--header .search__input~.search__border {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 2px #e5e5e5 inset;
    z-index: 3;
}

.search--location--header .search__input:hover {
    color: inherit
}

.search--location--header .search__input:hover::-webkit-input-placeholder {
    color: #999
}

.search--location--header .search__input:hover::-moz-placeholder {
    color: #999
}

.search--location--header .search__input:hover:-ms-input-placeholder {
    color: #999
}

.search--location--header .search__input:hover::-ms-input-placeholder {
    color: #999
}

.search--location--header .search__input:hover::placeholder {
    color: #999
}

.search--location--header .search__input:hover~.search__border {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 2px #d4d4d4 inset
}

.search--location--header .search__input:hover~.search__button {
    fill: #bfbfbf
}

.search--location--header .search__input:hover~.search__button:hover {
    fill: #FE980F
} 

.search--location--header .search__input:focus {
    outline: none;
    color: inherit
}

.search--location--header .search__input:focus::-webkit-input-placeholder {
    color: #999
}

.search--location--header .search__input:focus::-moz-placeholder {
    color: #999
}

.search--location--header .search__input:focus:-ms-input-placeholder {
    color: #999
}

.search--location--header .search__input:focus::-ms-input-placeholder {
    color: #999
}

.search--location--header .search__input:focus::placeholder {
    color: #999
}

.search--location--header .search__input:focus~.search__border {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 2px #FE980F inset
}

.search--location--header .search__input:focus~.search__button {
    fill: #bfbfbf
}

.search--location--header .search__input:focus~.search__button:hover {
    fill: #FE980F
}

.search--location--header .search__button {
    border: none;
    padding: 0;
    background: transparent;
    flex-grow: 0;
    width: 42px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #bfbfbf;
    -webkit-transition: fill .15s;
    transition: fill .15s
}

.search--location--header .search__button:hover,
.search--location--header .search__button:focus {
    outline: none;
    fill: #FE980F
}

.search--location--header .search__suggestions {
    z-index: -1;
    position: absolute;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    background: #fff;
    left: -12px;
    top: -12px;
    width: calc(100% + 24px);
    padding-top: 60px;
    padding-bottom: 10px;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .2s, visibility 0s .2s;
    transition: opacity .2s, visibility 0s .2s
}

.search--location--header.search--has-suggestions.search--suggestions-open .search__suggestions {
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
    opacity: 1;
    visibility: visible;
    pointer-events: auto
}

.search--location--indicator .search__body {
    color: #3d464d;
    background: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
    width: 340px
}

.search--location--indicator .search__form {
    display: flex;
    height: 50px
}

.search--location--indicator .search__suggestions {
    border-top: 1px solid #ebebeb;
    padding: 6px 0;
    display: none
}

.search--location--indicator .search__input,
.search--location--indicator .search__button {
    border: none;
    padding: 0;
    background: transparent
}

.search--location--indicator .search__input:focus,
.search--location--indicator .search__button:focus {
    outline: none
}

.search--location--indicator .search__input {
    padding: 0;
    flex-grow: 1;
    flex-basis: 0;
    width: 0
}

html[dir=ltr] .search--location--indicator .search__input {
    padding-left: 18px
}

html[dir=rtl] .search--location--indicator .search__input {
    padding-right: 18px
}

.search--location--indicator .search__button {
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    fill: #bfbfbf;
    -webkit-transition: fill .2s;
    transition: fill .2s
}

.search--location--indicator .search__button:hover {
    fill: #3d464d
}

.search--location--indicator.search--has-suggestions.search--suggestions-open .search__suggestions {
    display: block
}

.search--location--mbl-header .search__suggestions {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding: 6px 0;
    display: none;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch
}

.mbl-header:not(.mbl-header--stuck) .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__suggestions,
.mbl-header--stuck.mbl-header--show .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__suggestions {
    display: block
}

@media (min-width: 768px) and (max-width: 991px) {
    .search--location--mbl-header .search__body {
        position: relative;
        z-index: 2
    }

    .search--location--mbl-header .search__form {
        height: 36px;
        display: flex
    }

    .search--location--mbl-header .search__input {
        position: relative;
        z-index: 1;
        flex-basis: 0;
        width: 0;
        flex-grow: 1;
        background: transparent;
        border: none;
        padding: 0 12px;
        margin: 0;
        font-family: inherit;
        font-size: 15px;
        color: #3d464d
    }

    .search--location--mbl-header .search__input::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.5)
    }

    .search--location--mbl-header .search__input::-moz-placeholder {
        color: rgba(0, 0, 0, 0.5)
    }

    .search--location--mbl-header .search__input:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.5)
    }

    .search--location--mbl-header .search__input::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.5)
    }

    .search--location--mbl-header .search__input::placeholder {
        color: rgba(0, 0, 0, 0.5)
    }

    .search--location--mbl-header .search__input:hover {
        color: #3d464d
    }

    .search--location--mbl-header .search__input:hover::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.5)
    }

    .search--location--mbl-header .search__input:hover::-moz-placeholder {
        color: rgba(0, 0, 0, 0.5)
    }

    .search--location--mbl-header .search__input:hover:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.5)
    }

    .search--location--mbl-header .search__input:hover::-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.5)
    }

    .search--location--mbl-header .search__input:hover::placeholder {
        color: rgba(0, 0, 0, 0.5)
    }

    .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__input,
    .search--location--mbl-header .search__input:focus {
        color: #3d464d;
        outline: none
    }

    .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__input::-webkit-input-placeholder,
    .search--location--mbl-header .search__input:focus::-webkit-input-placeholder {
        color: #999
    }

    .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__input::-moz-placeholder,
    .search--location--mbl-header .search__input:focus::-moz-placeholder {
        color: #999
    }

    .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__input:-ms-input-placeholder,
    .search--location--mbl-header .search__input:focus:-ms-input-placeholder {
        color: #999
    }

    .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__input::-ms-input-placeholder,
    .search--location--mbl-header .search__input:focus::-ms-input-placeholder {
        color: #999
    }

    .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__input::placeholder,
    .search--location--mbl-header .search__input:focus::placeholder {
        color: #999
    }

    .search--location--mbl-header .search__border {
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: none;
        -webkit-transition: all .2s;
        transition: all .2s;
        border-radius: 2px;
        z-index: -1
    }

    html[dir=ltr] .search--location--mbl-header .search__border {
        left: 0
    }

    html[dir=rtl] .search--location--mbl-header .search__border {
        right: 0
    }

    .search--location--mbl-header .search__button {
        position: relative;
        z-index: 1;
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        width: 36px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        fill: rgba(0, 0, 0, 0.4);
        -webkit-transition: fill .2s;
        transition: fill .2s
    }

    .search--location--mbl-header .search__button:focus {
        outline: none
    }

    .search--location--mbl-header .search__button:focus,
    .search--location--mbl-header .search__button:hover {
        fill: #3d464d
    }

    .search--location--mbl-header .search__button--type--close {
        display: none
    }

    .search--location--mbl-header .search__input:hover~.search__button {
        fill: rgba(0, 0, 0, 0.4)
    }

    .search--location--mbl-header .search__input:hover~.search__button:focus,
    .search--location--mbl-header .search__input:hover~.search__button:hover {
        fill: #3d464d
    }

    .search--location--mbl-header .search__input:hover~.search__border {
        background: rgba(255, 255, 255, 0.6);
        box-shadow: none
    }

    .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__button,
    .search--location--mbl-header .search__input:focus~.search__button {
        fill: #b3b3b3
    }

    .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__button:focus,
    .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__button:hover,
    .search--location--mbl-header .search__input:focus~.search__button:focus,
    .search--location--mbl-header .search__input:focus~.search__button:hover {
        fill: #3d464d
    }

    .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__border,
    .search--location--mbl-header .search__input:focus~.search__border {
        background: #fff;
        box-shadow: 0 0 0 2px #FE980F inset;
    }
}

@media (max-width: 767px) {
    .search--location--mbl-header .search__body {
        width: 100%;
        display: flex;
        flex-direction: column
    }

    .search--location--mbl-header .search__form {
        display: flex;
        height: 54px;
        flex-shrink: 0
    }

    .search--location--mbl-header .search__input {
        flex-grow: 1;
        flex-basis: 0;
        width: 0;
        background: transparent;
        border: none;
        padding: 0
    }

    html[dir=ltr] .search--location--mbl-header .search__input {
        padding-left: 15px
    }

    html[dir=rtl] .search--location--mbl-header .search__input {
        padding-right: 15px
    }

    .search--location--mbl-header .search__input:focus {
        outline: none
    }

    .search--location--mbl-header .search__input::-webkit-input-placeholder {
        color: #999
    }

    .search--location--mbl-header .search__input::-moz-placeholder {
        color: #999
    }

    .search--location--mbl-header .search__input:-ms-input-placeholder {
        color: #999
    }

    .search--location--mbl-header .search__input::-ms-input-placeholder {
        color: #999
    }

    .search--location--mbl-header .search__input::placeholder {
        color: #999
    }

    .search--location--mbl-header .search__button {
        flex-shrink: 0;
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        cursor: pointer;
        fill: #b3b3b3
    }

    .search--location--mbl-header .search__button:focus {
        outline: none
    }

    .search--location--mbl-header .search__button:focus,
    .search--location--mbl-header .search__button:hover {
        fill: #3d464d
    }

    html[dir=ltr] .search--location--mbl-header .search__button--type--close {
        border-left: 1px solid #ebebeb
    }

    html[dir=rtl] .search--location--mbl-header .search__button--type--close {
        border-right: 1px solid #ebebeb
    }
}



.search--location--header .search__suggestions {
    z-index: -1;
    position: absolute;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    background: #fff;
    left: -12px;
    top: -12px;
    width: calc(100% + 24px);
    padding-top: 60px;
    padding-bottom: 10px;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .2s, visibility 0s .2s;
    transition: opacity .2s, visibility 0s .2s
}

.search--location--header.search--has-suggestions.search--suggestions-open .search__suggestions {
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
    opacity: 1;
    visibility: visible;
    pointer-events: auto
}

.search--location--indicator .search__body {
    color: #3d464d;
    background: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
    width: 340px
}

.search--location--indicator .search__form {
    display: flex;
    height: 50px
}

.search--location--indicator .search__suggestions {
    border-top: 1px solid #ebebeb;
    padding: 6px 0;
    display: none
}

.search--location--indicator .search__input,
.search--location--indicator .search__button {
    border: none;
    padding: 0;
    background: transparent
}

.search--location--indicator .search__input:focus,
.search--location--indicator .search__button:focus {
    outline: none
}

.search--location--indicator .search__input {
    padding: 0;
    flex-grow: 1;
    flex-basis: 0;
    width: 0
}

html[dir=ltr] .search--location--indicator .search__input {
    padding-left: 18px
}

html[dir=rtl] .search--location--indicator .search__input {
    padding-right: 18px
}

.search--location--indicator .search__button {
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    fill: #bfbfbf;
    -webkit-transition: fill .2s;
    transition: fill .2s
}

.search--location--indicator .search__button:hover {
    fill: #3d464d
}

.search--location--indicator.search--has-suggestions.search--suggestions-open .search__suggestions {
    display: block
}

.search--location--mbl-header .search__suggestions {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding: 6px 0;
    display: none;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch
}

.mbl-header:not(.mbl-header--stuck) .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__suggestions,
.mbl-header--stuck.mbl-header--show .search--location--mbl-header.search--has-suggestions.search--suggestions-open .search__suggestions {
    display: block
}



@media (max-width: 767px) {
    .search--location--mbl-header .search__body {
        width: 100%;
        display: flex;
        flex-direction: column
    }

    .search--location--mbl-header .search__form {
        display: flex;
        height: 54px;
        flex-shrink: 0
    }

    .search--location--mbl-header .search__input {
        flex-grow: 1;
        flex-basis: 0;
        width: 0;
        background: transparent;
        border: none;
        padding: 0
    }

    html[dir=ltr] .search--location--mbl-header .search__input {
        padding-left: 15px
    }

    html[dir=rtl] .search--location--mbl-header .search__input {
        padding-right: 15px
    }

    .search--location--mbl-header .search__input:focus {
        outline: none
    }

    .search--location--mbl-header .search__input::-webkit-input-placeholder {
        color: #999
    }

    .search--location--mbl-header .search__input::-moz-placeholder {
        color: #999
    }

    .search--location--mbl-header .search__input:-ms-input-placeholder {
        color: #999
    }

    .search--location--mbl-header .search__input::-ms-input-placeholder {
        color: #999
    }

    .search--location--mbl-header .search__input::placeholder {
        color: #999
    }

    .search--location--mbl-header .search__button {
        flex-shrink: 0;
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        cursor: pointer;
        fill: #b3b3b3
    }

    .search--location--mbl-header .search__button:focus {
        outline: none
    }

    .search--location--mbl-header .search__button:focus,
    .search--location--mbl-header .search__button:hover {
        fill: #3d464d
    }

    html[dir=ltr] .search--location--mbl-header .search__button--type--close {
        border-left: 1px solid #ebebeb
    }

    html[dir=rtl] .search--location--mbl-header .search__button--type--close {
        border-right: 1px solid #ebebeb
    }
}


.suggestions__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 19px
}

.suggestions__item {
    position: relative;
    display: flex;
    padding: 8px 18px
}

.suggestions__item:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.suggestions__item-image {
    flex-shrink: 0;
    width: 44px;
    margin: -2px 0
}

html[dir=ltr] .suggestions__item-image {
    margin-right: 12px
}

html[dir=rtl] .suggestions__item-image {
    margin-left: 12px
}

.suggestions__item-image img {
    max-width: 100%;
    height: auto
}

.suggestions__item-info {
    flex-grow: 1;
    padding: 3px 10px 2px
}

.suggestions__item-name,
.suggestions__item-name:hover {
    color: inherit
}

.suggestions__item-name:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.suggestions__item-meta {
    margin-top: 1px;
    font-size: 13px;
    line-height: 15px
}

.suggestions__item-price {
    white-space: nowrap;
    flex-shrink: 0;
    padding: 3px 10px 2px;
    font-weight: 700;
    font-size: 14px
}

html[dir=ltr] .suggestions__item-price {
    margin-left: 12px
}

html[dir=rtl] .suggestions__item-price {
    margin-right: 12px
}

.suggestions__item-actions {
    align-self: center;
    flex-shrink: 0
}

html[dir=ltr] .suggestions__item-actions {
    margin-left: 14px
}

html[dir=rtl] .suggestions__item-actions {
    margin-right: 14px
}

.suggestions--location--header {
    color: #3d464d
}

.suggestions--location--header .suggestions__item:hover:before {
    background: rgba(0, 0, 0, 0.03)
}

.suggestions--location--header .suggestions__item-meta {
    color: #999
}

.suggestions--location--indicator {
    color: #3d464d
}

.suggestions--location--indicator .suggestions__item:hover:before {
    background: rgba(0, 0, 0, 0.03)
}

.suggestions--location--indicator .suggestions__item-meta {
    color: #999
}

.suggestions--location--mbl-header {
    color: #3d464d
}

.suggestions--location--mbl-header .suggestions__item:hover:before {
    background: rgba(0, 0, 0, 0.03)
}

.suggestions--location--mbl-header .suggestions__item-meta {
    color: #999
}



