<div class="site-footer">
    <div class="container">
        <div class="site-footer__widgets">
            <div class="row">
                <div class="col-12 col-md-3 col-lg-6">
                    <app-footer-links header="Information" [links]="[
                        {label: 'About Us',             url: '/site/about-us'},
                        {label: 'Contact Us',           url: '/site/contact-us'},
                        {label: 'Privacy Policy',       url: '/site/privacy-policy'},
                        {label: 'Become a Seller',           url: '/site/become-a-seller'}
                    ]"></app-footer-links>
                </div>
                <div class="col-12 col-md-3 col-lg-6 mt-2 mt-lg-0">
                    <app-footer-contacts></app-footer-contacts>
                </div>
                
                <!-- <div class="col-6 col-md-3 col-lg-2">
                    <app-footer-links header="My Account" [links]="[
                        {label: 'Store Location', url: ''},
                        {label: 'Order History',  url: ''},
                        {label: 'Wish List',      url: '/shop/wishlist'},
                        {label: 'Newsletter',     url: ''},
                        {label: 'Specials',       url: ''},
                        {label: 'Gift Cards',     url: ''},
                        {label: 'Affiliate',      url: ''}
                    ]"></app-footer-links>
                </div> -->
                <div class="col-6 col-md-3 col-lg-6">
                   
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <app-footer-newsletter class="site-footer__widget"></app-footer-newsletter>
                </div>
            </div>
        </div>

        <div class="site-footer__bottom">
            <div class="site-footer__copyright">
               
                Copyright © {{theme.site.year}} <a [href]="theme.site.url" target="_blank">{{theme.site.name}}</a>  is owned by Chowkbazar Digital Enterprise. All rights reserved.
            </div>
            <div class="site-footer__payments">
                <!-- <img src="assets/images/payments.png" alt=""> -->
                <div class="block-features__content">
                    
                    <div class="block-features__subtitle"> <span class="accent">Total Visits:</span> 15472 </div>
                    <div class="block-features__subtitle">  Powered by <a href="https://angular.io/" target="_blank">Angular</a> — Design And Developed by <a [href]="theme.author.profile_url" target="_blank">{{ theme.author.name }}</a> </div>
                   
                   
                </div>
            </div>
        </div>

        <!-- <div class="float-div">


                <div class="container p-0 m-0">
                    <div class="block-features__list">
                        <div class="block-features__item">
                            <div class="block-features__content">
                                <div class="block-features__title secondary">Today</div>
                                <div class="block-features__subtitle">1936 <small>visits</small></div>
                            </div>
                        </div>
                        <div class="block-features__divider"></div>
                        <div class="block-features__item">
                            
                            <div class="block-features__content">
                                <div class="block-features__title accent">Total</div>
                                <div class="block-features__subtitle">15472 <small>visits</small></div>
                            </div>
                        </div>
                        
                    </div>
                
            </div>
        </div> -->

    </div>
</div>
